$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$base-white: #ffffff;
$base-grey: #bdbdbd;
$base-black: #333333;
$base-primory: #7859cf;
$base-secondary: #f0ebff;
$primory-opacity: rgba(120, 89, 207, 0.25);
$primory-lighter: #9070ec;
$primory-darker: #593cac;
$light-grey: #e2e2e2;
$bg-lightest-grey: #f8f8f8;
$bg-flat-white: #f3ebe1;
$bg-lavender-latte: #eae6fc;
$bg-espresso: #e5e6e8;
