.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: stretch;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    align-items: flex-start;
  }
}

.header__logo {
  flex-shrink: 0;
  margin-right: 20px;
  padding: 12px 0;

  @media (min-width: $tablet-width) {
    padding: 22px 0;
    margin-right: 67px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.header__logo-link {
  &:focus-visible,
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo-image {
  display: block;
  width: 32px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    height: 36px;
  }
}

.header__logo-text {
  display: none;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $desktop-width) {
    display: block;
    width: 130px;
  }
}

.header__nav-link {
  display: block;
  font-size: 12px;
  font-weight: $medium;
  line-height: 16px;
  color: $base-black;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &--current {
    position: relative;
    color: $base-primory;
    cursor: default;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 2px;
      background-color: $base-primory;
    }
  }

  &:active {
    background-color: $base-secondary;
  }

  @media (min-width: $tablet-width) {
    &:focus-visible,
    &:hover {
      color: $base-primory;
    }
  }
}

.header__nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;


  @media (max-width: ($tablet-width - 1)) {
    &--menu-closed {
      display: none;
    }

    &--menu-open {
      z-index: 10;
      display: flex;
      position: absolute;
      top: 100%;
      left: 0;
      flex-direction: column;
      width: 100%;
      background-color: $base-white;
      border-top: 1px solid $base-secondary;


      .header__nav-item::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $base-secondary;
      }

      .header__nav-link {
        padding: 20px;

        &:active {
          color: $base-black;
          background-color: $base-secondary;
        }
      }
    }
  }
}


.header__nav {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 580px;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
    min-width: 882px;
    width: auto;
  }
}

.header__nav-list--menu {
  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    align-self: start;
    width: 450px;

    .header__nav-link {
      padding: 32px 21px;
    }
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
    width: auto;
  }
}

.header__nav-list--ui {
  flex-wrap: wrap;
  margin-right: -20px;

  .header__nav-link {
    padding: 22px;

    &::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
    }

    &--user::before {
      mask-image: url("../../icons/stack.svg#user");
      background-color: $base-black;
    }

    &--basket::before {
      mask-image: url("../../icons/stack.svg#basket");
      background-color: $base-black;
    }

    &--burger {
      background-color: transparent;
      border: 0;
      cursor: pointer;

      &:active {
        background-color: $base-secondary;
      }
    }

    &--burger::before {
      mask-image: url("../../icons/stack.svg#burger");
      background-color: $base-black;
    }

    &--burger-open::before {
      mask-image: url("../../icons/stack.svg#close");
      background-color: $base-black;
    }

    @media (min-width: $tablet-width) {
      padding: 32px 22px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      gap: 8px;

      &:focus-visible::before,
      &:hover::before {
        background-color: $base-primory;
      }
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 125px;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    gap: 18px;
    max-width: 300px;
    flex-shrink: 0;
  }
}

.header__nav-item--burger {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__nav-link-text {
  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: inline;
    }
  }
}
