.info-section__title {
  font-size: 14px;
  font-weight: $bold;
  line-height: 20px;
  color: $base-primory;
}

.info-section__link {
  font-size: 12px;
  font-weight: $medium;
  line-height: 16px;
}

.info-section__contact {
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
}
