.price-filter__slider-wrapper {
  width: 100%;
  height: 24px;
  padding: 11px 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }
}

.price-filter__inputs {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 2px;
    margin-top: 1px;
    transform: translate(-50%, -50%);
    background-color: $base-grey;

    @media (min-width: $tablet-width) {
      margin-top: 0;
    }

    @media (min-width: $desktop-width) {
      width: 10px;
    }
  }
}

.price-filter__input {
  width: 118px;
  height: 40px;
  margin: 0;
  padding: 8px 10px;
  background-color: $base-white;
  border: 2px solid $primory-lighter;
  border-radius: 4px;
  appearance: textfield;

  font-family: inherit;
  font-size: inherit;
  font-weight: $medium;
  line-height: inherit;
  color: inherit;
  text-align: center;

  &::placeholder {
    color: $base-grey;
  }

  @media (min-width: $tablet-width) {
    width: 88px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  &:focus {
    outline: none;
    border-color: $primory-darker;
  }

  &:hover:not(:disabled) {
    border-color: $base-primory;
  }

  &:disabled {
    color: $base-grey;
    border-color: $light-grey;
    background-color: $bg-lightest-grey;
  }
}
