.product-card {
  padding: 40px 20px 20px;
  background-color: $base-white;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 30px;
  }
}

.product-card__image {
  display: block;
  margin: 0 auto 24px;
  width: 130;
  height: 188px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.product-card__title {
  margin: 0;
  margin-bottom: 4px;

  font-size: 18px;
  font-weight: $bold;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;

    font-size: 24px;
    line-height: 36px;
  }
}

.product-card__title-link {
  display: block;
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: $primory-lighter;
  }

  &:active {
    color: $base-primory;
  }
}

.product-card__description {
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 20px;
  }
}

.product-card__purchase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin: 0;
}

.product-card__price {
  font-size: 20px;
  font-weight: $semibold;
  line-height: 32px;
}

.product-card__button-buy {
  display: flex;
  align-items: center;
  font-size: inherit;
  line-height: inherit;
  text-align: start;

  &::before {
    content: "";
    width: 20px;
    height: 16px;
    margin-right: 6px;
    background-image: url("../../icons/stack.svg#basket-plus");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }
}
